<div *ngIf="task">
  <a [routerLink]="['/tasks']">Go back</a>
  <br>
  <h2 class="page-header">{{task.title}} <small>by {{task.createdBy}}</small></h2>
  <div class="row">
    <div class="col-md-4">
      <img style="width: 100%" class="thumbnail" src="{{imageUrl}}">
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">Text: {{task.text}}</li>
        <li class="list-group-item">Date: {{task.date}}</li>
      </ul>
    </div>
    <a class="btn btn-default" [routerLink]="['/edit-task/' + task.$key]">Edit</a>
    <a class="btn btn-danger" (click)="onDeleteClick()">Delete</a>
  </div>
</div>
